<?xml version="1.0" encoding="UTF-8"?>
<server description="defaultServer">

    <featureManager>
        <feature>servlet-6.0</feature>
        <feature>xmlBinding-4.0</feature>
    </featureManager>

    <httpEndpoint host="*" id="defaultHttpEndpoint" httpPort="8080" httpsPort="-1"/>

    <applicationManager autoExpand="true"/>

    <ssl id="defaultSSLConfig" trustDefaultCerts="true"/>

    <application location="docxwar.war" context-root="/gendoc">
        <classloader apiTypeVisibility="+third-party"/>
    </application>

</server>
